---
interface Props {
	images: number;
	images_path: string
}

const { images, images_path } = Astro.props;

import Section from '@/layouts/Section.astro';
---

<Section
	className='bg-transparent pb-10'
	id="cortos"
	title="CORTOS 🎬"
>
	<div x-data="{modal: false, src: '/assets/images/logo.webp'}">
		<div
			class="w-screen h-screen fixed top-0 left-0 bg-black bg-opacity-75 z-20 flex justify-center items-center"

			x-show="modal"
			x-transition.opacity.duration.600ms
			x-on:click="modal = false"
		>
			<img
				class="h-2/4 sm:h-3/2"

				x-on:error="modal = false"
				x-bind:src="src"
			>
		</div>

		<div class="w-full columns-2 sm:columns-4 gap-x-4">
				{Array.from(Array(images).keys()).map(i => i += 1).map(index => (
					<div class="bg-cover bg-center bg-black bg-opacity-50 w-full">
					<img
						class=" w-full object-cover cursor-pointer shadow mb-4 transition-transform hover:scale-[1.05]"

						x-on:load="event.target.animate([{opacity: 0}, {opacity: 1}], {duration: 600, fill: 'forwards', easing: 'ease-in-out'})"
						x-on:error="event.target.remove()"
						x-on:click=`modal = true; src = "${images_path}${index}.jpeg"`
						x-bind:src=`'${images_path}${index}.jpeg'`

						loading="lazy"
						decoding="async"
					>
					</div>
				))}
		</div>
	</div>
</Section>