<style>
    footer {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--border-color);
    }

    footer #top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 25px 100px;
    }

    footer #top #logo {
        height: 100px;
    }

    footer #top #contact {
        /* padding: 50px 100px; */
        display: flex;
        /* align-items: flex-end; */
        /* justify-content: end; */
        /* width: 100%; */
        /* background-color: red; */
        /* justify-content: ce; */
        gap: 50px;
        /* padding: 0 100px; */
    }

    footer #top #contact div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer #top #contact div a {
        text-decoration: none;
        color: var(--text-important-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-shadow: -.25px -.25px -.25px var(--text-important-color);
        text-shadow: .25px .25px .25px var(--text-important-color);
        transition: opacity .3 ease-in-out;
    }

    footer #top #contact div a:hover {
        opacity: .5;
    }

    footer #copy{
        background-color: var(--text-important-color);
        color: var(--text-alt-color);
        padding: 12.5px 25px;
        font-size: 12.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5px;
    }

    footer #copy h3 {
        font-weight: 100;
        font-size: 10px;
    }

    footer #copy a {
        color: var(--text-alt-color);
        /* font-size: 12.5px; */
        /* text-decoration: ; */
    }

    @media screen and (max-width: 768px){
        footer #top {
            gap: 25px;
            /* flex-direction: column; */
            /* align-items: center; */
            /* text-align: center; */
        }

        footer #top #contact {
            flex-direction: column;
            align-items: left;
            gap: 12.5px;
        }

        footer #top #contact div a {
            justify-content: left;
        }
    }

    @media screen and (max-width: 640px){
    }

    @media screen and (max-width: 480px){
        footer #top {
            flex-direction: row;
            justify-content: center;
        }

        footer #top #contact div {
            align-items: center;
        }

        footer #top a{
            display: none;
        }

        footer #copy {
            text-align: center;
        }
    }
</style>

<footer>
    <section id="top">
        <a href="."><img id="logo" src="./assets/images/logo.png" alt=""></a>
        <section id="contact">
            <div>
                <h3>CONTACTANOS</h3>
                <a href="mailto:fondodecine@gmail.com" target="_blank"><iconify-icon icon="ic:outline-email"></iconify-icon>fondodecine@gmail.com</a>
            </div>
            <div>
                <H3>REDES</H3>
                <a href="https://www.instagram.com/fondodecinefesti/" target="_blank"><iconify-icon icon="fe:instagram"></iconify-icon>Instagram</a>
            </div>
        </section>
    </section>
    <section id="copy">
        <p>Copyright FONDO DE CINE - 2023. Todos los derechos reservados.</p>
        <h3>Creado por <a href="https://github.com/lullaby6" target="_blank">Luciano Brumer</a>.</h3>
    </section>
</footer>