@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&family=Rubik&display=swap');

@font-face {
    font-family: DhaksRegular;
    src: url("../fonts/Dhaks-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Sceageus;
    src: url("../fonts/Sceageus.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #2c2c2c;
    --text-important-color: #141414;
    --text-low-color: #525252;
    --text-alt-color: #fff;
    --text-alt-second-color: #f1f1f1;
    --text-alt-third-color: #d4d4d4;
    --first-color: #F9983E;
    --second-color: #C389BC;
    --third-color: #F94249;
    --border-color: #7e7e7e;
    --border-low-color: #acacac;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb{
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--text-important-color);
}

::-webkit-scrollbar-track {
    background-color: var(--text-alt-color)
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden !important;
}

main #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: px; */
    /* gap: 50px; */
}

main #main img {
    width: 100vw;
    height: 90vh;
    /* opacity: .25; */
}

main #main iconify-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 10vh;
    translate: 0 -12.px;
    color: var(--text-color);
    transition: translate .3s ease-in-out;
    -webkit-transition: translate .3s ease-in-out;
    -moz-transition: translate .3s ease-in-out;
    -ms-transition: translate .3s ease-in-out;
    -o-transition: translate .3s ease-in-out;
}

main #main iconify-icon:hover {
    translate: 0 6.25px;
}

main section {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

main #ediciones {
    /* background-color: var(--text-alt-second-color); */
    display: flex;
    /* justify-content: center; */
    align-items: start;
    flex-direction: column;

    padding: 50px 100px;
    position: relative;
}

main #ediciones h1 {
    border-bottom: 1px solid var(--border-low-color);
    width: 100%;
}

main #ediciones .ediciones-c {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

/* main #ediciones .bg {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

main #ediciones .edicion {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 25px 0;
    gap: 12.5px;
    flex-direction: column;
    /* background-color: red; */
    /* background-color: var(--text-alt-color); */
    border-bottom: 1px solid var(--border-low-color);
    width: 100%;
}

main #ediciones .edicion .c {
    display: flex;
    gap: 25px;
    /* padding: 25px; */
}

main #ediciones .edicion .c [slider]{
    width: 50%;
}

main #ediciones .edicion .c .text{
    width: 50%;
    display: flex;
    gap: 12.5px;
    flex-direction: column;
    font-size: 20px;
}

main #ediciones .edicion .c .text a{
    border: 1px solid var(--border-color);
    width: auto;
    padding: 5px 15px;
    /*width: 125px;
    */cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    flex: none;
    align-self: flex-start;
    background-color: var(--text-alt-color);
    box-shadow: 5px 5px #6868684b;
    transition: translate .3s ease-in-out;
    -webkit-transition: translate .3s ease-in-out;
    -moz-transition: translate .3s ease-in-out;
    -ms-transition: translate .3s ease-in-out;
    -o-transition: translate .3s ease-in-out;
}

main #ediciones .edicion .c .text a:hover{
    translate: 12.5px 0;
}

main #presentar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Sceageus;
}

main #presentar .title-c-c {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

main #presentar .title-c-c .title-c{
    display: flex;
    gap: 12.5px;
    /* flex-direction: column; */
}

main #presentar .title-c-c .title-c a{
    display: flex;
    background-color: var(--text-alt-color);
    text-transform: uppercase;
    padding: 30px 60px;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-important-color);
}

main #presentar .title-c-c .title-c a::after{
    content: 'SI!!';
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--presentar-bg);
    width: 0%;
    height: 100%;
    /* padding-top: 7.5px; */
    /* translate: 0 5px; */
    transition: width .5s ease-in-out;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
}

main #presentar .title-c-c .title-c a:hover::after{
    width: 100%;
}

main #presentar .title-c-c .title-c .corto-button {
    background-color: #FE3030;
}

main #presentar .form-c {
    /* background-color: rgba(20, 20, 20, .25); */
    border-top: 1px solid var(--border-low-color);
    border-bottom: 1px solid var(--border-low-color);
    padding: 50px;
    /* width: 250px; */
    width: 750px;
    position: relative;
    /* overflow: hidden; */
}

main #presentar .form-c form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    color: var(--text-important-color);
    font-family: Montserrat;
    width: 100%;
}

main #presentar .form-c form div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

main #presentar .form-c form input{
    padding: 10px 50px;
    border: none;
    width: 100%;
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px #6868684b;
}

main #presentar .form-c form div input{
    width: 50%;
}

main #presentar .form-c form input:focus{
    outline: none;
}

main #presentar .form-c form input[type="submit"]{
    cursor: pointer;
    background-color: #C389BC;
    color: var(--text-alt-color);
    /* width: 100%; */
}

main #nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 175px;
    gap: 20px;
    color: var(--text-color);
}

main #nosotros h2 {
    color: var(--text-important-color);
    font-size: 45px;
}

main #nosotros p {
    font-size: 25px;
    text-shadow: 0px 0px 0px var(--text-color);
}

footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
}

footer #contact {
    padding: 50px 100px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: end;
    width: 100%;
    /* background-color: red; */
    /* justify-content: ce; */
    gap: 50px;
    /* padding: 0 100px; */
}

footer #copy{
    background-color: var(--text-important-color);
    color: var(--text-alt-color);
    padding: 25px;
    font-size: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5px;
}

footer #copy h3 {
    font-weight: 100;
    font-size: 10px;
}

footer #copy a {
    color: var(--text-alt-color);
    /* font-size: 12.5px; */
    /* text-decoration: ; */
}