@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&family=Rubik&display=swap');

@font-face {
    font-family: DhaksRegular;
    src: url("../fonts/Dhaks-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Sceageus;
    src: url("../fonts/Sceageus.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #2c2c2c;
    --text-light-color:#444444;
    --text-important-color: #141414;
    --text-low-color: #525252;
    --text-alt-color: #fff;
    --text-alt-second-color: #f1f1f1;
    --text-alt-third-color: #d4d4d4;
    --first-color: #F9983E;
    --second-color: #C389BC;
    --third-color: #F94249;
    --border-color: #7e7e7e;
    --border-low-color: #acacac;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb{
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--text-important-color);
}

::-webkit-scrollbar-track {
    background-color: var(--text-alt-color)
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden !important;
}

main #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: px; */
    /* gap: 50px; */
}

main #main .img-c {
    background-color: #141414;
    position: relative;
}

main #main .img-c img {
    width: 100vw;
    height: 90vh;
    /* opacity: .25; */
}

main #main iconify-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 10vh;
    translate: 0 -12.px;
    color: var(--text-color);
    transition: translate .3s ease-in-out;
    -webkit-transition: translate .3s ease-in-out;
    -moz-transition: translate .3s ease-in-out;
    -ms-transition: translate .3s ease-in-out;
    -o-transition: translate .3s ease-in-out;
}

main #main iconify-icon:hover {
    translate: 0 6.25px;
}

main section {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

main #ediciones {
    /* background-color: var(--text-alt-second-color); */
    display: flex;
    /* justify-content: center; */
    align-items: start;
    flex-direction: column;

    padding: 50px 100px;
    position: relative;
}

main #ediciones h1 {
    border-bottom: 1px solid var(--border-low-color);
    width: 100%;
}

main #ediciones .ediciones-c {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

/* main #ediciones .bg {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

main #ediciones .edicion {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 25px 0;
    gap: 12.5px;
    flex-direction: column;
    /* background-color: red; */
    /* background-color: var(--text-alt-color); */
    border-bottom: 1px solid var(--border-low-color);
    width: 100%;
}

main #ediciones .edicion .c {
    display: flex;
    gap: 25px;
    /* padding: 25px; */
}

main #ediciones .edicion .c [slider]{
    width: 50%;
}

main #ediciones .edicion .c .text{
    width: 50%;
    display: flex;
    gap: 12.5px;
    flex-direction: column;
    font-size: 20px;
    text-shadow: 0px 0px 0px var(--text-color);
}

main #ediciones .edicion .c .text a{
    border: 1px solid var(--border-color);
    width: auto;
    padding: 5px 15px;
    /*width: 125px;
    */cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    flex: none;
    align-self: flex-start;
    background-color: var(--text-alt-color);
    box-shadow: 5px 5px #6868684b;
    transition: translate .3s ease-in-out;
    -webkit-transition: translate .3s ease-in-out;
    -moz-transition: translate .3s ease-in-out;
    -ms-transition: translate .3s ease-in-out;
    -o-transition: translate .3s ease-in-out;
}

main #ediciones .edicion .c .text a:hover{
    translate: 12.5px 0;
}

main #presentar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Sceageus;
}

main #presentar .title-c-c {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

main #presentar .title-c-c .title-c{
    display: flex;
    gap: 12.5px;
    /* flex-direction: column; */
}

main #presentar .title-c-c .title-c a{
    display: flex;
    background-color: var(--text-alt-color);
    text-transform: uppercase;
    padding: 30px 60px;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-important-color);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / .5);
}

main #presentar .title-c-c .title-c a::after{
    content: 'SI!!';
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--presentar-bg);
    width: 0%;
    height: 100%;
    /* padding-top: 7.5px; */
    /* translate: 0 5px; */
    transition: width .5s ease-in-out;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
}

main #presentar .title-c-c .title-c a:hover::after{
    width: 100%;
}

main #presentar .title-c-c .title-c .corto-button {
    background-color: #FE3030;
}

main #presentar form{
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    color: var(--text-important-color);
    padding: 50px;
    gap: 12.5px;
    z-index: 100;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / .5);
}

main #presentar form .input-c{
    display: flex;
    gap: 25px;
}

main #presentar form .label-c{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

main #presentar form label {
    text-shadow: -.25px -.25px -.25px var(--text-color);
    text-shadow: .25px .25px .25px var(--text-color);
    opacity: .75;
    font-size: 20px;
}

main #presentar form input{
    padding: 10px 15px;
    border: none;
    width: 100%;
    border: 1px solid var(--border-color);
    width: 100%;
    text-shadow: -.25px -.25px -.25px var(--text-color);
    text-shadow: .25px .25px .25px var(--text-color);
    background-color: transparent;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
    -moz-appearance: textfield;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / .125);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main #presentar form input:focus{
    outline: none;
}

main #presentar form button{
    padding: 15px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: #C389BC;
    color: var(--text-alt-color);
    font-weight: 600;
    margin-top: 10px;
    transition: background .125s ease-in-out, scale .1s ease-in-out;
    -webkit-transition: background .125s ease-in-out, scale .1s ease-in-out;
    -moz-transition: background .125s ease-in-out, scale .1s ease-in-out;
    -ms-transition: background .125s ease-in-out, scale .1s ease-in-out;
    -o-transition: background .125s ease-in-out, scale .1s ease-in-out;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / .5);
}

main #presentar form button:active {
    scale: .95;
}

main #presentar form button:hover {
    background-color: #9b6294;
}

main #nosotros {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 100px;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

main #nosotros .absolute {
    position: absolute;
    top: 0;
    left: 0;
}

main #nosotros .absolute-0 {
    /* background-color: red; */
    translate: 50% 25%;
}

main #nosotros .nosotros-c{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 50px;
    color: var(--text-color);
    /* overflow: hidden; */
}

main #nosotros .nosotros-c img {
    width: 500px;
    z-index: 100;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 1);
}

main #nosotros h2 {
    color: var(--text-important-color);
    font-size: 40px;
}

main #nosotros .nosotros-c p {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-light-color);
}

@media screen and (max-width: 1024px){
    main #nosotros .nosotros-c {
        gap: 10px;
    }
}

@media screen and (max-width: 768px){
    main #ediciones {
        padding: 50px;
    }

    main #nosotros {
        padding: 25px 50px;
    }

    main #nosotros h2 {
        margin: 0;
        padding: 0;
    }

    main #nosotros .nosotros-c {
        flex-direction: column;
        gap: 25px;
    }

    main #nosotros .nosotros-c img {
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    main #ediciones .ediciones-c {
    }

    main #ediciones .ediciones-c .edicion {
        align-items: center;
    }

    main #ediciones .ediciones-c .edicion h2 {
        text-align: left;
        width: 100%;
    }

    main #ediciones .ediciones-c .edicion .c {
        flex-direction: column;
        align-items: center;
    }

    main #ediciones .ediciones-c .edicion .c .slider {
        width: 100%;
    }

    main #ediciones .ediciones-c .edicion .c .text {
        width: 100%;
    }

    main #presentar .title-c-c .title-c a {
        font-size: 25px;
        padding: 25px 50px;
    }
}

@media screen and (max-width: 480px){
    main #ediciones .ediciones-c .edicion h2 {
        /* text-align: center; */
    }

    main #presentar .title-c-c .title-c a {
        font-size: 17.5px;
        padding: 17.5px 35px;
    }

    main #nosotros h2 {
        font-size: 30px;
    }

    main #nosotros .nosotros-c p {
        font-size: 17.5px;
        text-shadow: none;
        font-weight: 800;
    }
}