---
import { Image } from 'astro:assets';

import Layout from '@/layouts/Layout.astro';

import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

// import Informacion from '@/sections/edicion/Informacion.astro';
// import Cortos from '@/sections/edicion/Cortos.astro';
import Cortos from '@/sections/edicion/Cortos.astro';
import Galeria from '@/sections/edicion/Galeria.astro';
---

<Layout title="FONDO DE CINE - Segunda edición ">
    <Header>
      <a class="text-nowrap text-neutral-200 opacity-75 transition-opacity hover:opacity-100 hover:underline cursor-pointer" href="/.">INICIO </a>
      <!-- <a class="text-nowrap text-neutral-200 opacity-75 transition-opacity hover:opacity-100 hover:underline cursor-pointer" href="#info">INFORMACIÓN </a> -->
      <a class="text-nowrap text-neutral-200 opacity-75 transition-opacity hover:opacity-100 hover:underline cursor-pointer" href="#cortos">CORTOS </a>
      <a class="text-nowrap text-neutral-200 opacity-75 transition-opacity hover:opacity-100 hover:underline cursor-pointer" href="#galeria">GALERÍA </a>
    </Header>

    <main class="w-full min-h-screen flex flex-col px-10 sm:px-36 pt-20">
			<Image class="w-screen h-screen fixed left-0 top-0 object-cover" src="/assets/images/backgrounds/paper.webp" width={1} height={1} alt=""/>
			<div class="w-screen h-screen fixed left-0 top-0 bg-black bg-opacity-20"></div>

      <Cortos images={8} images_path='/assets/images/ediciones/segunda/cortos/'/>

			<Galeria autor='Guadalupe Magarian' images={21} images_path='/assets/images/ediciones/segunda/' image_type='jpg' images_placeholder_path="/assets/images/ediciones/primera/placeholder/"/>
  </main>

	<Footer></Footer>
</Layout>