---
import Section from '@/layouts/Section.astro';
---

<Section id='apoyar' title="APOYAR " className="px-10 sm:px-36 pt-20 !pb-20 !min-h-0 reñative overflow-hidden">
    <img class="absolute bottom-0 translate-y-[50%] sm:translate-y-0 translate-x-[25%] md:translate-x-0 md:top-0 right-0 md:right-[300px] z-10 w-[150px] md:w-[300px]" src="/assets/images/forms/2.png" alt="" loading="lazy"/>

    <div class="flex flex-col items-center sm:items-start text-center sm:text-left gap-2 border-y border-neutral-400 py-6">
        <div class="flex flex-col gap-1">
            <p class="text-xl drop-shadow-outline-white">¿Queres ayudar a nuestro Festi?</p>
            <p class="text-xl drop-shadow-outline-white">¡Podes hacerlo con una pequeña donación!</p>
        </div>
        <div class="flex justify-center items-center gap-1 w-fit text-lg">
            <p class="drop-shadow-outline-white">Alias:</p>
            <p class="flex justify-center items-center px-1.5 py-0.5 border border-neutral-300 rounded-full bg-neutral-200">fondo.de.cine</p>
        </div>
    </div>
</Section>