---
import Section from '@/layouts/Section.astro';
---

<Section id='apoyar' title="APOYAR ❤️" className="px-10 sm:px-36 pt-20 !pb-20 !min-h-0 reñative overflow-hidden">
    <img class="absolute left-0 bottom-0 sm:top-0 translate-y-1/2 md:translate-x-1/2 md:translate-y-0 z-10" src="/assets/images/forms/6.png" alt="" loading="lazy"/>

    <div class="flex flex-col items-center sm:items-start text-center sm:text-left gap-2 border-y border-neutral-400 py-6">
        <div class="flex flex-col gap-1">
            <h1 class="text-xl drop-shadow-outline-white">¿Queres ayudar al Fondo de Cine?</h1>
            <p class="text-lg drop-shadow-outline-white">¡Puedes hacerlo a travez de Mercado Pago!</p>
        </div>
        <div class="flex justify-center items-center gap-1 w-fit">
            <p class="drop-shadow-outline-white">Alias:</p>
            <p class="flex justify-center items-center px-1.5 py-0.5 border border-neutral-300 rounded-full bg-neutral-200">mmessein</p>
        </div>
    </div>
</Section>