---
import Section from '../../layouts/Section.astro';

import Edicion from '../../components/Edicion.astro';
---

<Section id='ediciones' title="EDICIONES " className="bg-neutral-200 px-10 sm:px-36 pt-20 !pb-20 z-10">
    <div class="flex flex-col gap-16">
        <Edicion title="PRIMERA EDICIN" images={38} href='/ediciones/primera' images_path='/assets/images/ediciones/primera/' desc='La primera edici贸n de "Fondo de Cine" se hizo en "La Estaci贸n de los Deseos", un espacio emblem谩tico que sirve como centro social y apoyo a la cultura barrial de Caballito, un verdadero pulm贸n verde que muchxs desconocen. Durante el evento, se proyectaron una variedad de cortometrajes como "Afuera es Peligroso", "Lago Puelo", "El Cumplea帽os N 68 de la Tortuga Carmela", "C贸mo una R谩faga de Viento", entre otros. Siempre buscando una variedad de generos audiovisuales.'/>

        <h1 class="w-full text-2xl">TERCERA EDICIN - Proximamente...</h1>
    </div>
</Section>