---
import Section from '@/layouts/Section.astro';

import Edicion from '@/components/Edicion.astro';
---

<Section id='ediciones' title="EDICIONES " className="px-10 sm:px-36 pt-20 !pb-20 z-10">
    <div class="flex flex-col gap-16 border-y border-neutral-400 py-6">
        <Edicion title="PRIMERA EDICIÓN" date='26/09/2023' images={28} image_type='jpg' href='/ediciones/primera' images_path='/assets/images/ediciones/primera/' desc='Inauguramos exitosamente la primera edición de "Fondo de Cine", celebrada en "La Estación de los Deseos", un espacio emblemático que sirve como centro social e incubadora de ideas para respaldar la cultura barrial de Caballito, un verdadero pulmón verde que muchxs desconocen. Durante el evento se proyectaron diversos cortometrajes destacados como "Afuera es Peligroso", "Lago Puelo", "El Cumpleaños N° 68 de la Tortuga Carmela", "Cómo una Ráfaga de Viento", entre otros, siempre buscando una variedad de géneros audiovisuales.'/>

        <Edicion title="SEGUNDA EDICIÓN" date='9/12/2023' images={24} image_type='jpg' href='/ediciones/segunda' images_path='/assets/images/ediciones/segunda/' desc='En esta edición presentamos Fondo de Cine en el gran “Saldías Polo Cultural”, un lugar reconocido por su enfoque con música que nos abrió sus puertas dejando un lugarcito al cine, para proyectar obras como "Madrermana", "Ave de Presa", "Carga Animal", “La Cautiva”, "Transespecies" y otros destacados cortometrajes. De manera inadvertida, esta edición estuvo marcada por la presencia de filmes con temáticas utópicas, oscuras, crítica social y conspiranoicas, añadiendo casi por casualidad un aire mítico al evento al igual que el espacio donde fue realizado.'/>

        <Edicion title="TERCERA EDICIÓN" date='9/12/2023' images={24} image_type='jpg' href='/ediciones/tercera' images_path='/assets/images/ediciones/segunda/' desc='Con un récord de 200 personas copamos el JJ con la 3era edición de Fondo de Cine, ubicado en corazón del barrio Abasto, esta edición fue la que convocó más espectadorxs de las tres, con el honor de proyectar cortos como “Un Muerto y un Maletín”, “Pétalos”, “Veta”,”Preludio” y la presentación del videoclip musical ”Desconocidos”.'/>
    </div>
</Section>