---
import Section from '@/layouts/Section.astro';

import Edicion from '@/components/Edicion.astro';
---

<Section id='ediciones' title="EDICIONES " className="px-10 sm:px-36 pt-20 !pb-20 z-10">
    <div class="flex flex-col gap-16 border-y border-neutral-400 py-6">
        <Edicion title="PRIMERA EDICIÓN" date='26 de agosto, 2023' images={28} image_type='jpg' href='/ediciones/primera' images_path='/assets/images/ediciones/primera/' desc='Inauguramos la primera edición de "Fondo de Cine", celebrada exitosamente en "La Estación de los Deseos". Un pulmón verde en el barrio de Caballito donde se desarrolla un espacio cultural emblemático que funciona como incubadora de actividades artísticas. Durante el evento se proyectaron diversos cortometrajes como "Afuera es Peligroso", "Lago Puelo", "El Cumpleaños N° 68 de la Tortuga Carmela", "Cómo una Ráfaga de Viento", entre otros, siempre buscando una variedad de géneros audiovisuales. '/>

        <Edicion title="SEGUNDA EDICIÓN" date='9 de diciembre, 2023' images={21} image_type='jpg' href='/ediciones/segunda' images_path='/assets/images/ediciones/segunda/' desc='Esta edición fue presentada en el gran “Saldías Polo Cultural”, un lugar muy reconocido por su enfoque músical que nos abrió sus puertas, para dejarle un lugarcito al cine. Llevado a cabo en la sala Luis Alberto Spinetta, se proyectaron obras como "Madrermana", "Ave de Presa", "Carga Animal", “La Cautiva”, "La Danza del Macho" y otros destacados cortometrajes. De manera inadvertida, esta edición estuvo marcada por la presencia de filmes con temáticas oscuras, utópicas con crítica social y conspiranoicas, añadiendo casi por casualidad un aire mítico al evento al igual que el espacio donde fue realizado.'/>

        <Edicion title="TERCERA EDICIÓN" date='21 de abril, 2024' images={35} href='/ediciones/tercera' images_path='/assets/images/ediciones/tercera/' desc='Con aproximadamente más de 120 personas, copamos el “JJ Circuito Cultural” con la 3era edición de nuestro festi. Ubicado en corazón del barrio Abasto, este encuentro fue el que convocó mayor cantidad de espectadorxs, con el honor de proyectar cortos como “Un Muerto y un Maletín”, “Pétalos”, “Veta”,”Preludio” y la presentación del videoclip musical ”Desconocidos”.'/>
    </div>
</Section>