---
import { Image } from 'astro:assets';

import { Icon } from 'astro-icon/components'
---

<section class="w-full h-screen flex justify-center sm:justify-start items-center gap-8 px-0 sm:px-36">
    <div class="bg-black w-full h-screen fixed left-0 top-0">
        <Image class="blur-sm w-full h-full object-cover" width={1} height={1} src="/assets/images/backgrounds/main.webp" alt="fondo de cine fondodecine logo"/>
    </div>

    <div class="w-full flex flex-col gap-2 justify-center sm:items-start items-center">
        <Image class="w-full md:w-3/5" width={1} height={1} src="/assets/images/collages/title.webp" alt="fondo de cine fondodecine"/>

        <!-- <div class="flex justify-start items-center gap-4">
            <Image class="w-10 h-10 aspect-square" width={1} height={1} src="/assets/images/logo.webp" alt=""/>
            <h1 class="text-nowrap text-neutral-200 text-4xl sm:text-5xl font-gliker">FONDO DE CINE</h1>
        </div>
        <div class="flex flex-col">
            <h1 class="text-neutral-300 text-2xl text-center sm:text-left">Festival de CINE recontra independiente </h1>
        </div> -->
    </div>

    <a href="#ediciones" class="absolute left-1/2 -translate-x-full bottom-2 text-neutral-200 opacity-50 transition-opacity hover:opacity-100 text-4xl">
        <Icon name="iconamoon:arrow-down-2-light"/>
    </a>
</section>