---
interface Props {
	title?: string;
	id: string;
	className?: string;
	slotClassName?: string;
}

const { title, id, className, slotClassName } = Astro.props;
---

<section id={id} class=`bg-neutral-100 w-full min-h-screen flex flex-col gap-4 ${className}`>
    {title && <h1 class="text-4xl w-full text-nowrap">{title}</h1>}
	<slot />
</section>